html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}



.ul-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.liming {
    max-width: 50%;
}




#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}